<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>
  <appender name="FileAppender" type="log4net.Appender.FileAppender">
    <file value="./Logs/canaleselectronicosfront-apv.log" />
    <appendToFile value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>
  <appender name="UdpAppender1" type="log4net.Appender.UdpAppender">
    <remoteAddress name="remote28" value="192.168.27.28" />
    <remotePort value="4560" />
    <layout type="log4net.Layout.PatternLayout, log4net">
      <conversionPattern value="%-5level %logger [%P{Application}] - %message%newline" />
    </layout>
    <Encoding value="UTF-8" />
  </appender>
  <appender name="UdpAppender2" type="log4net.Appender.UdpAppender">
    <param name="applicationName" type="string" value="canaleselectronicosfront-apv" />
    <remoteAddress name="remote165" value="danae.crecer.com.sv" />
    <remotePort value="4560" />
    <layout type="log4net.Layout.PatternLayout, log4net">
      <conversionPattern value="%-5level %logger [%P{applicationName}] - %message%newline" />
    </layout>
    <Encoding value="UTF-8" />
  </appender>
  <root>
    <level value="ALL" />
    <appender-ref ref="ConsoleAppender" />
    <appender-ref ref="FileAppender" />
    <appender-ref ref="UdpAppender1" />
  </root>
</log4net>