@{
    ViewData["Title"] = "VwLogin";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<link rel="stylesheet" href="~/css/Login.css" />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 d-none d-md-block col-lg-2">
            <img class="Img" src="@Url.Content("~/Img/ahorrar-dinero-economizar.jpg")" alt="ahorrar dinero enconomizar" />
        </div>
        <div class="col-md-6 offset-md-3 offset-lg-2 col-lg-4">
            <div class="text-center Login">
                <h1 class=" Barlow_Bold" style="font-size:90px;">
                    Crecer
                </h1>

                <div class="row">
                    <div class="col-12">
                        <div class="InicioSesion">
                            <span class="text-center">INICIO DE SESION</span>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row justify-content-center">
                    <div class="col-10 col-md-7 col-lg-7">
                        <div class="Documento justify-content-center">
                            <input type="text" class="form-control" id="NumDocumento" placeholder="Numero de Documento">
                        </div>
                    </div>
                </div>
                <br />
                <div class="row justify-content-center">
                    <div class="col-10 col-md-7 col-lg-7">
                        <a class="btn Boton-Ingreso" href="/Home/Index">INGRESAR</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>



