@{
    ViewData["Title"] = "Home Page";
}
<br />
<div class="row">
    <div class="col-lg-4 col-md-5">
        <div class="Seleccionar">
            <h4>
                Seleccionar Fondo:
            </h4>
        </div>
    </div>
    <div class="col">
        <div class="dropdown">
            <button class="dropdown-toggle select-fondo" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                FONDO CRECER BALANCEADO
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="ms-1 me-5">
        <span class="Label">Inicio</span>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-md-4">
                <h4 class="Informacion me-2">Mi Información </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="seccion-item">
                    Nombre Completo : Jennifer Noelia Hernández Rivera
                </div>
            </div>
            <div class="col-md-6">
                <div class="seccion-item">
                    Número de Cliente: 0000000
                </div>
            </div>
            <div class="col-md-6">
                <div class="seccion-item">
                    Estado:ACTIVO
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="seccion-item">
                    NPE:0000 000 0000 00
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7 col-lg-8">
                <h4 class="Informacion">Mi saldo Plan Dinámico (al dd/mm/yy)</h4>
                <span class="Encabezados">Saldo Actual</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="seccion-item">
                    Último Valor Cuota Habilitado (dd/mm/yy):$0.000
                </div>
            </div>
            <div class="col-md-6">
                <div class="seccion-item">
                    Cuotas acumuladas adquiridas:6,000
                </div>
            </div>
            <div class="col-md-6">
                <div class="seccion-item">
                    Total saldo(Cuotas x VC):$0.00
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-7 col-lg-8">
                <span class="Encabezados">Saldo al último periodo reportado</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12 ">
                <div class="seccion-item">
                    <div class="row ">
                        <div class="col-md-4 ">
                            Fecha al corte:
                        </div>

                        <div class="col-md-4">
                            No.de cuotas $0000
                        </div>
                        <div class="col-md-4 ">
                            Saldo actual $0.00
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
