@{
    ViewData["Title"] = "Home Page";
}
<br />
<div class="row">
    <div class="col-md-3 col-lg-4 col-xl-4">
        <div class="Seleccionar">
            <h4>
                Seleccionar Fondo:
            </h4>
            @*<span>
            Seleccionar Fondo:
        </span>
        <div class="dropdown">
            <button class="dropdown-toggle select-fondo" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                FONDO CRECER BALANCEADO
            </button>
        </div>*@
        </div>
    </div>
    <div class="col">
        <div class="dropdown">
            <button class="dropdown-toggle select-fondo" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                FONDO CRECER BALANCEADO
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <span class="label-x-large TextSilver">Inicio</span>
        <br />
        <br />
        <br />
    </div>
</div>
<div class="row">
    <div class="col" style="padding-left: 0;">
        <label class="Informacion">Mi Información</label>
        <br />
        <br />
    </div>
</div>
@*<div class="row">
    <div class="col-12">*@
@*<div class="row">
        <div class="col-md-4">
            <h4 class="Informacion me-2">Mi Información </h4>
        </div>
    </div>*@
@* row 1 *@
<div class="row">
    <div class="col seccion-item"><label>Nombre Completo:&nbsp;</label><label class="TextCafeOscuroNegrita">Jennifer Noelia Hernández Rivera</label></div>
</div>
@* row 2 *@
<div class="row ">
    <div class="col-md-5 col-lg-7 col-xl-4 seccion-item"><label>Número de Cliente:&nbsp;</label><label class="TextCafeOscuroNegrita">0000000</label></div>
    <div class="col-md-1"></div>
    <div class="col-md-6 col-lg-4 col-xl-4 seccion-item"><label>Estado:&nbsp;</label><label class="TextCafeOscuroNegrita">ACTIVO</label></div>
</div>
@* row 4 *@
<div class="row ">
    <div class="col-md-5 seccion-item"><label>NPE:&nbsp;</label><label class="TextCafeOscuroNegrita">0000 000 0000 00</label></div>
</div>
@* row 5 *@
<div class="row">
    <div class="col" style="padding-left: 0;">
        <label class="Informacion">Mi saldo Plan Dinámico (al dd/mm/yy)</label>
        <br />
        <br />
    </div>
</div>
@* row 6 *@
<div class="row">
    <div class="col"><label class="TextCafe">Saldo Actual</label></div>
</div>
@* row 7 *@
<div class="row">
    <div class="col seccion-item"><label class="TextDark">Último Valor Cuota Habilitado (dd/mm/yy):&nbsp;</label><label class="TextDarkBold">$0.000</label></div>
</div>
@* row 8 *@
<div class="row ">
    <div class="col-md-5 col-lg-12 col-xl-4 seccion-item"><label class="TextDark">Cuotas acumuladas adquiridas:&nbsp;</label><label class="TextDarkBold">6,000</label></div>
    <div class="col-md-1"></div>
    <div class="col-md-6 col-lg-12 col-xl-4 seccion-item"><label class="TextDark">Total saldo (Cuotas x VC):&nbsp;</label><label class="TextDarkBold">$0.00</label></div>
</div>
@* row 10 *@
<div class="row">
    <div class="col"><label class="TextCafe">Saldo al último periodo reportado</label></div>
</div>
<div class="row seccion-item-row">
    <div class="col-md-4 col-lg-12 col-xl-4"><label class="TextDark">Fecha al corte:&nbsp;</label></div>
    <div class="col-md-4 col-lg-12 col-xl-4"><label class="TextDark">No.de cuotas:&nbsp;</label><label class="TextDarkBold">$0000</label></div>
    <div class="col-md-4 col-lg-12 col-xl-4"><label class="TextDark">Saldo actual:&nbsp;</label><label class="TextDarkBold">$0.00</label></div>
</div>

@*<div class="row">
        <div class="col-12">
            <div class="seccion-item">
                Nombre Completo : Jennifer Noelia Hernández Rivera
            </div>
        </div>
        <div class="col-md-6">
            <div class="seccion-item">
                Número de Cliente:0000000
            </div>
        </div>
        <div class="col-md-6">
            <div class="seccion-item">
                Estado:ACTIVO
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="seccion-item">
                NPE:0000 000 0000 00
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7 col-lg-8">
            <h4 class="Informacion">Mi saldo Plan Dinámico (al dd/mm/yy)</h4>
            <span class="Encabezados">Saldo Actual</span>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="seccion-item">
                Último Valor Cuota Habilitado (dd/mm/yy):$0.000
            </div>
        </div>
        <div class="col-md-6">
            <div class="seccion-item">
                Cuotas acumuladas adquiridas:6,000
            </div>
        </div>
        <div class="col-md-6">
            <div class="seccion-item">
                Total saldo(Cuotas x VC):$0.00
            </div>
        </div>
    </div>*@

@*<div class="row">
        <div class="col-md-7 col-lg-8">
            <span class="Encabezados">Saldo al último periodo reportado</span>
        </div>
    </div>
    <div class="row">
        <div class="col-12 ">
            <div class="seccion-item">
                <div class="row ">
                    <div class="col-md-4 ">
                        Fecha al corte:
                    </div>

                    <div class="col-md-4">
                        No.de cuotas $0000
                    </div>
                    <div class="col-md-4 ">
                        Saldo actual $0.00
                    </div>

                </div>
            </div>
        </div>

    </div>*@
@*</div>
    </div>*@
