@{
    ViewData["Title"] = "Customer Data";
}

<div class="row">
    <div class="col-md-3">
        <h4 class="Seleccionar">
            Seleccionar Fondo:
        </h4>
    </div>
    <div class="col-md-6">
        <div class="dropdown">
            <button class="dropdown-toggle select-fondo" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                FONDO CRECER BALANCEADO
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="ms-1">
            <span class="Label">DATOS DEL CLIENTE</span>
            <br />
            <br />
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <h4 class="Seleccionar" style="margin-left:20px;">FICHA DE CLIENTE DE AHORRO PREVISIONAL VOLUNTARIO</h4>
    </div>
</div>
<div class="row seccion-item">
    <div class="col">
        @*row-1*@
        <div class="row MarginBasic">
            <div class="col-sm-12 col-md-12 col-lg-4">
                <label class="TextDark">CLIENTE:</label> <label class="TextDarkBold">XXXX</label>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4">
                <label class="TextDark">TIPO DE DOC. IDENTIDAD:</label> <label class="TextDarkBold">XXXX</label>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4">
                <label class="TextDark">NIT:</label> <label class="TextDarkBold">XXXX-XXXXXX-XXX-X</label>
            </div>
        </div>
        @*---fin---*@

        @*row-2*@
        <div class="row MarginBasic">
            <div class="col-sm-12 col-md-12 col-lg-4">
                <label class="TextDark">FECHA NACIMIENTO:</label> <label class="TextDarkBold">XX/XX/XX</label>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4">
                <label class="TextDark">DOC. IDENTIDAD:</label> <label class="TextDarkBold">XXXXXXXX-X</label>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4">
                <label class="TextDark">ASESOR ASIGNADO:</label> <label class="TextDarkBold">XXXX XXXX XXXX</label>
            </div>
        </div>
        @*---fin---*@
        @*row-3*@
        <div class="row MarginBasic">
            <div class="col-sm-12 col-md-12 col-lg-4">
                <label class="TextDark">NACIONALIDAD:</label> <label class="TextDarkBold">XXXX</label>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4">
                <label class="TextDark">EXP DOCUMENTO:</label> <label class="TextDarkBold">XX/XX/XX</label>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4">
                <label class="TextDark">ANUENCIA:</label> <label class="TextDarkBold">XXXX</label>
            </div>
        </div>
        @*---fin---*@
        @*row-4*@
        <div class="row MarginBasic">
            <div class="col-sm-12 col-md-12 col-lg-4">
                <label class="TextDark">OCUPACIÓN:</label> <label class="TextDarkBold">XXXX</label>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4">
                <label class="TextDark">VENCIMIENTO DOCUMENTO:</label> <label class="TextDarkBold">XX/XX/XX</label>
            </div>
        </div>
        @*---fin---*@
        @*row-5*@
        <div class="row MarginBasic">
            <div class="col-sm-12 col-md-12 col-lg-4">
                <label class="TextDark">ESTADO CIVIL:</label> <label class="TextDarkBold">XXXX</label>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4">
                <label class="TextDark">PAÍS EXP. DOCUMENTO:</label> <label class="TextDarkBold">XX/XX/XX</label>
            </div>
        </div>
        @*---fin---*@
        @*row-6*@
        <div class="row MarginBasic">
            <div class="col-sm-12 col-md-12 col-lg-4">
                <label class="TextDark">ESTADO DEL CLIENTE:</label> <label class="TextDarkBold">XXXX</label>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-4">
                <label class="TextDark">CIUDAD EXP. DOCUMENTO</label> <label class="TextDarkBold">XX/XX/XX</label>
            </div>
        </div>
        @*---fin---*@
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h4 class="Seleccionar">DATOS DE CONTACTO</h4>
    </div>
</div>
<div class="row">
    <div class="col seccion-item" style="padding: 20px;">
        <h2 class="TextWhite">PERSONAL</h2>
        @*row-1*@
        <div class="row MarginBasic">
            <div class="col-sm-12 col-md-12 col-lg-7">
                <label class="TextDark">DIRECCIÓN:</label> <br /> <label class="TextDarkBold">XXXX</label>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-5">
                <div class="row">
                    <div class="col"><label class="TextDark">CELULAR:</label> <label class="TextDarkBold">XXXX-XXXX</label></div>
                </div>
                <div class="row">
                    <div class="col"><label class="TextDark">TELÉFONO:</label> <label class="TextDarkBold">XXXX-XXXX</label></div>
                </div>
                <div class="row">
                    <div class="col"><label class="TextDark">E-MAIL:</label> <label class="TextDarkBold">XXXXXXXX@XXXX.COM</label></div>
                </div>
            </div>
        </div>
        @*---fin---*@
    </div>
    <div class="seccion-item" style="padding: 20px;">
        <h2 class="TextWhite">LABORAL</h2>
        @*row-1*@
        <div class="row MarginBasic">
            <div class="col-sm-12 col-md-12 col-lg-7">
                <label class="TextDark">DIRECCIÓN:</label> <br /> <label class="TextDarkBold">XXXX</label>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-5">
                <div class="row">
                    <div class="col"><label class="TextDark">CELULAR: </label><label class="TextDarkBold">XXXX-XXXX</label></div>
                </div>
                <div class="row">
                    <div class="col"><label class="TextDark">TELÉFONO: </label><label class="TextDarkBold">XXXX-XXXX</label></div>
                </div>
                <div class="row"></div>
            </div>
        </div>
        @*---fin---*@
    </div>
</div>
